@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=Amita|Padauk');
@import url('https://fonts.googleapis.com/css?family=Acme');

*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.container-flui{

    width: 100%;
    margin: auto;
    background: #1c4875;
}

.border{

    border: 1px solid #000000!important;

}

.alto{

    height: 100%;
}


.logo{

    text-align: center;
}

img{

    height: 100%;
    width: auto;
}

.sidebar .logo{
    padding: 0px !important;
    height: 60px !important;
    padding-top: 3px !important;	
}

.sidebar .logo:after{

    height: 2px !important;
    background: #f44336 !important;
    bottom: -5px !important; 
}

/*
        esta clase es para correr el sub boton a la derecha
*/
.l{

    padding-left: 30px !important; 
}

/*
esta clase "colorc" es para cambiarle el color al head del card de las tablas
*/
.colorc{

    background: #43a047 !important;
}

/*
esta clase "paddingcorreo" es para mover el label del correo hasta el centro en el formulario de registro
*/
.paddingcorreo{

    padding-top: 30px !important;
}

/*
esta clase "movericon" es para mover el icono de añadir usuario
*/

.movericon{

    padding-right: 10px !important;
}

/*.modal-lx {
    max-height: 80vh !important;
}*/

.navbar .notification{

    background: #f44336 !important;
}

.dropdown-menu a:hover{

    background-color: #f44336!important;
}

.nav-item a:hover {
    background-color: #f44336!important;
}

#contenedor-carga{
    background-color: rgba(250,240,245,0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    z-index: 10000;

}

#carga{
    border: 15px solid #ccc;
    border-top-color: #216C3D;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: girar 1.5s linear infinite;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;

}

#bajar-login {
    position: relative;
    top: 70px;
}

#contactenos {
    position: relative;
    top: 80px;
}

#button {
  display: inline-block;
  background-color: #FF9800;
  width: 40px;
  height: 30px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
/*  content: "\f077";*/
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

.bg-red {
    background-color: #e7828233 !important;
}

.bg-wh {
    background-color: #ffffffe6 !important;
}

@keyframes girar{
    from{ transform: rotate(0deg); }
    to{ transform: rotate(360deg); }
}


.img1 {
  max-width: 100%;
  vertical-align: middle; }

.wrapper1 {
    height: 100vh;
    display: flex; }
.wrapper1.image-holder {
    width: 65.78%; }
.wrapper1 .form-content {
    width: 34.22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4.3%;
    padding-right: 4.3%;
    position: relative; }

.wizard {
    height: 509px; }

.steps .current-info, .steps .number {
    display: none; }

.steps ul {
    display: flex;
    justify-content: center;
    margin-bottom: 30px; }

.steps li a {
    display: block; }
.steps li .step-arrow {
    display: block;
    margin-top: 3px;
    margin-left: 32%; }
.steps li:nth-child(2) .step-arrow, .steps li:last-child .step-arrow {
    margin-left: 57%; }

.image-holder {
    background: url("../img/form-wizard.jpg") center center;
    background-size: cover; }

.image-holder img {
    display: none; }

.form-content {
    background: url("../img/form-wizard-bg.jpg") center center;
    background-size: cover; }

.info {
    margin-bottom: 50px; }

.info-item {
    margin-bottom: 29px; }
.info-item span {
    color: #ccc; }
.info-item span.unit {
    margin-right: 15px; }
.info-item span.lnr {
    margin-right: 4px; }
.info-item span.lnr-calendar-full {
    margin-right: 7px; }

.form-group {
    display: flex;
    margin-bottom: 15px; }
.form-group .form-price {
    width: 65.46%; }
.form-group .form-select {
    width: 34.54%; }

.form-wrapper {
    display: flex;
    align-items: flex-end;
    margin-bottom: 22px; }
.form-wrapper label {
    width: 27.85%;
    transform: translateY(1px); }
.form-wrapper input {
    width: 72.15%; }
.form-wrapper.last {
    margin-bottom: 50px; }

.form-price {
    display: flex; }
.form-price label {
    width: 42.55%; }
.form-price span {
    width: 57.45%; }

.form-select {
    display: flex;
    justify-content: space-between; }

.form-holder {
    position: relative;
    transform: translateY(-4px); }
.form-holder i {
    position: absolute;
    transform: translateY(-20px);
    left: 22px; }

.form-control {
    height: 25px;
    display: block;
    font-size: 13px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    background: none;
    color: #fff;
    padding: 0; }

select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    width: 50px;
    border: none;
    font-size: 15px;
    padding: 0 5px; }

.option {
    color: #999; }

.actions ul {
    display: flex;
    justify-content: space-between; }
.actions li a {
    padding: 0;
    border: none;
    display: inline-flex;
    height: 42px;
    width: 96px;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    background: none;
    font-family: "Times New Roman";
    cursor: pointer;
    color: #fff; }
.actions li a:hover {
    background: #fff;
    color: #333;
    border: 1px solid transparent; }
.actions li[aria-disabled="true"] a {
    opacity: 0;
    transition: all 1s; }

.request {
    margin-bottom: 21px; }

.special-request {
    margin-bottom: 21px; }
.special-request label {
    float: left;
    margin-top: 8px; }
.special-request input.form-control {
    width: calc(100% - 155px);
    margin-left: auto; }

.question-request {
    line-height: 2;
    margin-top: 23px; }
.question-request span {
    color: #ccc; }
.question-request input.form-control {
    width: 56px;
    margin: 0 2px;
    transform: translateY(-5px); }

.social {
    position: absolute;
    text-align: center;
    bottom: 7.35%;
    left: 0;
    right: 0; }
.social a {
    font-size: 17px;
    color: #fff;
    margin-right: 14px; }
.social a:last-child {
    margin-right: 0; }
.social a:hover {
    color: #e5e5e5; }

.checkbox1 {
    margin-bottom: 41px; }
.checkbox1 label {
    cursor: pointer;
    display: inline-block;
    padding-left: 22px;
    position: relative; }
.checkbox1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
.checkbox1 input:checked ~ .checkmark {
    background: #ccc; }
.checkbox1 input:checked ~ .checkmark:after {
    display: block; }
.checkbox1 .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 11px;
    width: 11px;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-family: Material-Design-Iconic-Font;
    color: #49276c;
    font-size: 10px;
    font-weight: 400; }
.checkbox1 .checkmark:after {
    top: -0.5px;
    left: 0.5px;
    position: absolute;
    display: none;
    content: '\f26b'; }

@media (max-width: 2000px) {
    .wrapper1 .image-holder {
        width: 47%;
        height: 100vh; }
    .wrapper1 .form-content {
        width: 53%;
        height: 100vh; }
    .wizard {
        width: 60%;
        margin: auto; } }

@media (max-width: 1199px) {
    .wrapper1 {
        display: block; }
    .wrapper1 .image-holder {
        width: 100%;
        height: 45vh; }
    .wrapper1 .form-content {
        width: 100%;
        height: 55vh; }
    .wizard {
        width: 50%;
        margin: auto; } }

@media (max-width: 991px) {
    .wrapper1 .image-holder {
        height: 35vh; }
    .wrapper1 .form-content {
        height: 65vh; }

    .wizard {
        width: 80%; }

    .social {
        bottom: 4.35%; } }

@media (max-width: 767px) {
    h3 {
        font-size: 30px; }

    .image-holder {
        background: none; }
    .image-holder img {
        display: block; }

    .wrapper1 {
        height: auto; }
    .wrapper1 .image-holder {
        height: auto; }
    .wrapper1 .form-content {
        height: auto;
        padding: 35px 20px; }

    .wizard {
        width: 100%;
        height: auto; }

    .social {
        position: static;
        margin-top: 30px; } }
